In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('census.csv')

In [3]:
df

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.columns

Index(['age', ' workclass', ' fnlgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [5]:
df.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
df[' workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [7]:
df[' education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [8]:
df[' education-num'].unique()

array([13,  9,  7, 14,  5, 10, 12, 11,  4, 16, 15,  3,  6,  2,  1,  8])

In [9]:
df['age'].dtypes

dtype('int64')

In [10]:
df.dtypes

age                 int64
 workclass         object
 fnlgt              int64
 education         object
 education-num      int64
 marital-status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital-gain       int64
 capital-loss       int64
 hours-per-week     int64
 native-country    object
 salary            object
dtype: object

In [11]:
column_list = list(df.columns)

In [12]:
column_rename = {}
for original_column in list(df.columns):
    column_rename[original_column] = original_column.strip()

In [13]:
column_rename

{'age': 'age',
 ' workclass': 'workclass',
 ' fnlgt': 'fnlgt',
 ' education': 'education',
 ' education-num': 'education-num',
 ' marital-status': 'marital-status',
 ' occupation': 'occupation',
 ' relationship': 'relationship',
 ' race': 'race',
 ' sex': 'sex',
 ' capital-gain': 'capital-gain',
 ' capital-loss': 'capital-loss',
 ' hours-per-week': 'hours-per-week',
 ' native-country': 'native-country',
 ' salary': 'salary'}

In [14]:
df.rename(columns=column_rename, inplace = True)

In [15]:
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [16]:
for column in list(df.columns):
    if df[column].dtypes == 'object':
        df[column] = df[column].apply(lambda x: x.strip())

In [17]:
df['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [18]:
df['age'].max()

90

In [19]:
df['age'].min()

17

In [20]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [36]:
import json

In [40]:
dict(df[['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']])

{'age': 0        39
 1        50
 2        38
 3        53
 4        28
          ..
 32556    27
 32557    40
 32558    58
 32559    22
 32560    52
 Name: age, Length: 32561, dtype: int64,
 'workclass': 0               State-gov
 1        Self-emp-not-inc
 2                 Private
 3                 Private
 4                 Private
                ...
 32556             Private
 32557             Private
 32558             Private
 32559             Private
 32560        Self-emp-inc
 Name: workclass, Length: 32561, dtype: object,
 'fnlgt': 0         77516
 1         83311
 2        215646
 3        234721
 4        338409
           ...
 32556    257302
 32557    154374
 32558    151910
 32559    201490
 32560    287927
 Name: fnlgt, Length: 32561, dtype: int64,
 'education': 0         Bachelors
 1         Bachelors
 2           HS-grad
 3              11th
 4         Bachelors
             ...
 32556    Assoc-acdm
 32557       HS-grad
 32558       HS-grad
 32559       HS-grad
 32560       HS-grad
 Name: education, Length: 32561, dtype: object,
 'education-num': 0        13
 1        13
 2         9
 3         7
 4        13
          ..
 32556    12
 32557     9
 32558     9
 32559     9
 32560     9
 Name: education-num, Length: 32561, dtype: int64,
 'marital-status': 0             Never-married
 1        Married-civ-spouse
 2                  Divorced
 3        Married-civ-spouse
 4        Married-civ-spouse
                 ...
 32556    Married-civ-spouse
 32557    Married-civ-spouse
 32558               Widowed
 32559         Never-married
 32560    Married-civ-spouse
 Name: marital-status, Length: 32561, dtype: object,
 'occupation': 0             Adm-clerical
 1          Exec-managerial
 2        Handlers-cleaners
 3        Handlers-cleaners
 4           Prof-specialty
                ...
 32556         Tech-support
 32557    Machine-op-inspct
 32558         Adm-clerical
 32559         Adm-clerical
 32560      Exec-managerial
 Name: occupation, Length: 32561, dtype: object,
 'relationship': 0        Not-in-family
 1              Husband
 2        Not-in-family
 3              Husband
 4                 Wife
              ...
 32556             Wife
 32557          Husband
 32558        Unmarried
 32559        Own-child
 32560             Wife
 Name: relationship, Length: 32561, dtype: object,
 'race': 0        White
 1        White
 2        White
 3        Black
 4        Black
          ...
 32556    White
 32557    White
 32558    White
 32559    White
 32560    White
 Name: race, Length: 32561, dtype: object,
 'sex': 0          Male
 1          Male
 2          Male
 3          Male
 4        Female
           ...
 32556    Female
 32557      Male
 32558    Female
 32559      Male
 32560    Female
 Name: sex, Length: 32561, dtype: object,
 'capital-gain': 0         2174
 1            0
 2            0
 3            0
 4            0
          ...
 32556        0
 32557        0
 32558        0
 32559        0
 32560    15024
 Name: capital-gain, Length: 32561, dtype: int64,
 'capital-loss': 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 32556    0
 32557    0
 32558    0
 32559    0
 32560    0
 Name: capital-loss, Length: 32561, dtype: int64,
 'hours-per-week': 0        40
 1        13
 2        40
 3        40
 4        40
          ..
 32556    38
 32557    40
 32558    40
 32559    20
 32560    40
 Name: hours-per-week, Length: 32561, dtype: int64,
 'native-country': 0        United-States
 1        United-States
 2        United-States
 3        United-States
 4                 Cuba
              ...
 32556    United-States
 32557    United-States
 32558    United-States
 32559    United-States
 32560    United-States
 Name: native-country, Length: 32561, dtype: object}

In [28]:
dict(df.iloc[100])

{'age': 76,
 'workclass': 'Private',
 'fnlgt': 124191,
 'education': 'Masters',
 'education-num': 14,
 'marital-status': 'Married-civ-spouse',
 'occupation': 'Exec-managerial',
 'relationship': 'Husband',
 'race': 'White',
 'sex': 'Male',
 'capital-gain': 0,
 'capital-loss': 0,
 'hours-per-week': 40,
 'native-country': 'United-States',
 'salary': '>50K'}

In [30]:
dict(df.iloc[-2])

{'age': 22,
 'workclass': 'Private',
 'fnlgt': 201490,
 'education': 'HS-grad',
 'education-num': 9,
 'marital-status': 'Never-married',
 'occupation': 'Adm-clerical',
 'relationship': 'Own-child',
 'race': 'White',
 'sex': 'Male',
 'capital-gain': 0,
 'capital-loss': 0,
 'hours-per-week': 20,
 'native-country': 'United-States',
 'salary': '<=50K'}

In [32]:
a = 10
assert 5 == a, "wrong"

AssertionError: wrong